.bg_gradient {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(40, 10, 64, 1) 100%
  );
}

.bold-600 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold-700 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gradient-text {
  background: linear-gradient(90deg, #7847dd, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-project:hover .card-grad2 {
  display: flex;
  transition: all 0.3s;
}

.grad-bottom {
  background-image: linear-gradient(to bottom, #280747 0%, #7a00df 100%);
  color: white;
  cursor: pointer;
}

.card-grad2 {
  background-image: linear-gradient(to left, #3a0b66 0%, #7a00df 100%);
  color: white;
  cursor: pointer;
}

.card-grad:hover {
  background-image: linear-gradient(to left, #12093331 0%, #8910eb 100%);
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.card-grad:hover p {
  color: white;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #7847dd 0%,
    #4e4376 51%,
    #7847dd 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  box-shadow: 0 0 20px #eee;

  text-decoration: none;
}

.color-1 {
  color: #7847dd;
}
